*.pyc
license_code.txt
site_media/media/cache/*
site_media/static/*
site_media/media/user_profiles/
site_media/media/pins/*
site_media/media/site_logos/*
site_media/media/category_images/*
site_media/media/filer_private/*
site_media/media/filer_public/*
site_media/media/pin_advertisments/*
site_media/media/filer/*
site_media/media/filer_thumbnails/*
site_media/media/watermarks/*
local_settings.py
*/Thumbs.db
VERSION.txt
.ropeproject