{% load sorl_thumbnail i18n %}
<ul id="comments" class="comments">
  {% for comment in comment_list %}
    <li id="c{{ comment.id }}">
        <div class="header">
        <a href="{{comment.user.get_absolute_url}}">
        {% thumbnail comment.user.get_profile.image "50x50" crop="center" as im %}
                <img src="{{ im.url }}" class="user-thumbnail" width="{{ im.width }}" height="{{ im.height }}"/>
                {% endthumbnail %}
    <strong>{{ comment.name }}</strong></a> {% trans "commented" %} <em>{{comment.submit_date|timesince}}</em> {% trans "ago" %}
    </div>
        <p>{{ comment.comment }}</p>
    </li>
  {% endfor %}
</ul>
