{% extends "form_base.html" %}

{% load i18n bootstrap_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block form_title %}{% trans "Change Password" %}{% endblock %}

{% block form %}
    <form method="POST" action="" class="jqtransform">
        {% csrf_token %}
        <fieldset>
            {{ password_change_form|as_bootstrap }}
        </fieldset>
        <div class="actions">
            <button type="submit">{% trans "Change password" %}</button>
        </div>
    </form>
{% endblock %}