{% load sorl_thumbnail i18n %} 
<div class="pin-main-box">
  <div class="pin-head-wrapper">
    <div class="pin-image-options">
      <div>
          <a href="{{result.object.get_absolute_url}}">
            {% for p in result.object.pins %}
                <div>
                    <a href="{{b.get_absolute_url}}">
                        {% thumbnail p.get_image "60x60" crop="center" as im %}
                            <img src="{{ im.url }}" class="thumbnail" width="{{ im.width }}" height="{{ im.height }}"/>
                        {% endthumbnail %}
                    </a>
                </div>
            {% empty %}
                <p>{% trans "No pins yet..." %}</p>
            {% endfor %}
        </a>
      </div>
      <br class="clear" />
    </div>
        <br class="clear" />
        <p class="pin-title"><a href="{{result.object.get_absolute_url}}">{{result.object}}</a></p>
  </div>
</div>