{% load sorl_thumbnail %}
<div class="pin-main-box">
  <div class="pin-head-wrapper">
    <div class="pin-image-options">
      <div>
        {% thumbnail result.object.get_image "266" crop="center" as im %}
              <a class="pin-popup-link" href="{{result.object.get_popup_url}}"><img src="{{ im.url }}" class="thumbnail" width="{{ im.width }}" height="{{ im.height }}"></a>
          {% endthumbnail %}
      </div>
      <br class="clear" />
    </div>
        <br class="clear" />
        <p class="pin-content">{{result.object.description|truncatewords:15 }}</p>
  </div>
</div>