{% extends "site_base.html" %}
{% load i18n ifsetting_tag sorl_thumbnail comments bootstrap_tags %}


{% block head_title %}{% trans "Pin it" %}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/pins.css">
{% endblock %}

{% block body %}
    <div class="row pin-it">
        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset>
                {{ form|as_bootstrap }}
            </fieldset>
            <div class="actions">
                <button type="submit" class="btn primary">{% trans "Upload" %}</button>
            </div>
        </form>
    </div>
{% endblock %}