<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8" />
        <title>Pin it button tests</title>
        <!-- HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
      
    </head>
    <body>
        <img src="https://lh5.googleusercontent.com/-uqDGD8tYhOg/Tx8FK52WrsI/AAAAAAAABP8/gylZJOCX6V4/w859-h572-k/Picture%2B001.jpg"/>

        <a href="http://localhost:8000/button/iframe/?image_url=https%3A%2F%2Flh5.googleusercontent.com%2F-uqDGD8tYhOg%2FTx8FK52WrsI%2FAAAAAAAABP8%2FgylZJOCX6V4%2Fw859-h572-k%2FPicture%252B001.jpg&description=Lorem ipsum&button_type=vertical" class="pinit-button">Pin it</a>


        <script src="http://localhost:8000/button/js/"></script>
       
    </body>
</html>
